---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + (subpath?.[0] || '');
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <slot />
</a>
<style>
  a {
    display: inline-block;
    text-decoration: none;
    color: var(--color-text-light);
    font-size: var(--font-size-sm);
    transition: color 0.2s ease;
    border-bottom: none;
  }
  
  a:hover {
    color: var(--color-text);
    border-bottom: none;
  }
  
  a.active {
    color: var(--color-text);
    font-weight: 500;
  }
</style>
